.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .container {
    max-width: 90%;
    margin: 10px auto;
  }

  .mat-drawer {
    width: 200px;
    background-color: #fff;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  }

  .mat-list-item {
    margin: 10px 0;
  }
  
  .mat-drawer {
    display: flex;
  }
  .mat-drawer-content {
    height: 94vh !important;
  }